/* ==========================================================================
   Color
   ========================================================================== */
html {
	/*Infra-Black*/
	--color-primary: #000;
	--color-primary-light: #2c2c2c;

	/*Laser-Red*/
	--color-secondary: #ff0111;
	--color-secondary-dark: #c20000;
	--color-secondary-light: #ff5a3f;

	/*Ultra-White*/
	--color-tertiary: #fff;
	--color-tertiary-dark: #ccc;

	/*Disabled Text*/
	--color-disabled-dark: #9b9b9b;
	--color-disabled-light: #555555;

}
/* ==========================================================================
   Typography
   ========================================================================== */
html {
	

    --font-primary: 'Open Sans', Arial, sans-serif;
    --font-secondary: 'Orbitron', Arial, sans-serif;

    /*Font Sizes*/
    --ratio: 1.250;

    /*larger than normal*/
	--xxxxxlarge-font: calc(var(--xxxxlarge-font) * var(--ratio));
    --xxxxlarge-font: calc(var(--xxxlarge-font) * var(--ratio));
    --xxxlarge-font: calc(var(--xxlarge-font) * var(--ratio));
    --xxlarge-font: calc(var(--xlarge-font) * var(--ratio));
    --xlarge-font: calc(var(--large-font) * var(--ratio));
    --large-font: calc(var(--medium-font) * var(--ratio));
    
	/*normal font size*/
    --medium-font: 1rem;
    
	/*smaller than normal*/
    --small-font: calc(var(--medium-font) / var(--ratio));
    --xsmall-font: calc(var(--small-font) / var(--ratio));
    --xxsmall-font: calc(var(--xsmall-font) / var(--ratio));
    --xxxsmall-font: calc(var(--xxsmall-font) / var(--ratio));
    --xxxxsmall-font: calc(var(--xxxsmall-font) / var(--ratio));
    --xxxxxsmall-font: calc(var(--xxxxsmall-font) / var(--ratio));

	--margin-standard: 2.75rem 0 1rem;

	color: var(--color-primary);
	font-family: var(--font-primary);
	font-size: var(--medium-font);
}

a {
	color: var(--color-secondary);
	text-decoration: none;
}

a:visited {
	color: var(--color-secondary-dark);
}

a:hover, a:focus {
	color: var(--color-secondary-light);
	outline: none;
	text-decoration: underline;
}

a:active {
	color: var(--color-primary-light);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6,text, .logo {
	font-family: var(--font-secondary);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.15;
	margin: var(--margin-standard);
}

h1{
	font-size: var(--xxxxxlarge-font);
}

h2{
	font-size: var(--xxxxlarge-font);
}

h3{
	font-size: var(--xxxlarge-font);
}

h4{
	font-size: var(--xxlarge-font);
}

h5{
	font-size: var(--xlarge-font);
}

h6{
	font-size: var(--large-font);
}

nav li {
	display: inline;
}

p {
	line-height: 2rem;
}

ol, ul {
	list-style-position: inside;
	margin-bottom: 0.625rem;
}

ol{
	list-style-type: upper-roman;
}

ul {
	list-style-type: circle;
}

blockquote {
	font-family: var(--font-secondary);
	font-size: var(--xlarge-font);
	font-style: italic;
	font-weight: bold;
}

blockquote p {
	line-height: 1.75;
}

cite {
	font-size: var(--large-font);
}

.logo {
	font-size: 6.25rem;
	font-weight: bold;
}

/* ==========================================================================
   Master Layout
   ========================================================================== */
main {
	margin:auto;
	max-width: 65rem;
}

/* ==========================================================================
   Header Component
   ========================================================================== */
header {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
	padding: 2rem;
}

header nav li {
	border: solid 0.0625rem var(--color-secondary);
	border-radius: 0.625rem;
}

header nav a {
	padding: 0 0.625rem;
}

header nav a:hover, header nav a:focus {
	background-color: var(--color-secondary);
	border: solid 0.0625rem var(--color-tertiary);
	border-radius: 62.5rem;
	color: var(--color-tertiary);
	outline: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background-color: var(--color-primary-light);
	color: var(--color-tertiary);
	margin-top: 2rem;
	padding: 2rem;
}

footer nav ul {
	padding: 0;
}

footer nav a {
	padding: 0 0.625rem;
}

footer nav a:active {
	color: var(--color-tertiary);
}

/* ==========================================================================
   Master Component
   ========================================================================== */
dialog {
	animation: beam-in .10s;
	background-color: var(--color-tertiary);
	border: .125rem solid var(--color-secondary);
	box-shadow: .25rem .25rem .625rem var(--color-primary-light);
	max-width: 625rem;
}

dialog h6, dialog p {
	animation: fade .15s;
}

dialog::backdrop {
	animation: fade .10s;
	background-color: rgba(0, 0, 0, .5);
}

dialog[close] {
	/*animation: beam-out 10s;*/
}

@keyframes beam-in{
	0% {
		background-color: var(--color-secondary);
		border-radius: 6.25rem;
		box-shadow: none;
		height: 6.25rem;
		transform: translatey(-50rem);
		width: .0000001rem;
	}

	99% {
		background-color: var(--color-secondary);
		border-radius: 6.25rem;
		box-shadow: none;
		height: 6.25rem;
		width: .0000001rem;
	}

	100% {
		transform: translatey(0);
	}

}

@keyframes beam-out {
	0% {
		transform: translateY(0);
	}

	1%{
		background-color: var(--color-secondary);
		border-radius: 6.25rem;
		box-shadow: none;
		height: 6.25rem;
		width: .0000001rem;
	}

	100% {
		background-color: var(--color-secondary);
		border-radius: 6.25rem;
		box-shadow: none;
		height: 6.25rem;
		transform: translatey(-50rem);
		width: .0000001rem;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	85% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

/* ==========================================================================
   Button Links
   ========================================================================== */

/*Hero Button*/
.hero-button-light, .hero-button-light:visited {
	background-color: var(--color-secondary);
	box-shadow: 0.3125rem 0.625rem var(--color-tertiary-dark);
	color: var(--color-tertiary);
	font-weight: bold;
	padding: 1rem 3rem;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.hero-button-light:hover, .hero-button-light:focus {
	background-color: var(--color-teriary);
	border: 0.0625rem solid var(--color-secondary);
	box-shadow: 0.625rem 0.3125rem var(--color-tertiary-dark);
	color: var(--color-secondary);
	outline: none;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.hero-button-light:active {
	background-color: var(--color-secondary-dark);
	box-shadow: 0.125rem 0.125rem var(--color-tertiary-dark);
	color: var(--color-tertiary);
}

.hero-button-dark, .hero-button-dark:visited {
	background-color: var(--color-secondary);
	box-shadow: 0.3125rem 0.625rem var(--color-tertiary-dark);
	color: var(--color-primary);
	font-weight: bold;
	padding: 1rem 3rem;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.hero-button-dark:hover, .hero-button-dark:focus {
	background-color: var(--color-primary);
	border: 0.0625rem solid var(--color-secondary);
	box-shadow: 0.625rem 0.3125rem var(--color-tertiary-dark);
	color: var(--color-secondary);
	outline: none;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.hero-button-dark:active {
	background-color: var(--color-secondary-dark);
	box-shadow: 0.125rem 0.125rem var(--color-tertiary-dark);
	color: var(--color-tertiary);
}

/*Normal Button*/

.normal-button-light, .normal-button-light:visited {
	background-color: var(--color-secondary);
	border-radius: 0.625rem;
	color: var(--color-tertiary);
	padding: 1rem 1.5rem;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.normal-button-light:hover, .normal-button-light:focus {
	background-color: var(--color-teriary);
	border: 0.0625rem solid var(--color-secondary);
	color: var(--color-secondary);
	outline: none;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.normal-button-light:active {
	background-color: var(--color-secondary-dark);
	color: var(--color-tertiary);
}

.normal-button-dark, .normal-button-dark:visited {
	background-color: var(--color-secondary);
	border-radius: 0.625rem;
	color: var(--color-primary);
	padding: 1rem 1.5rem;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.normal-button-dark:hover, .normal-button-dark:focus {
	background-color: var(--color-primary);
	border: 0.0625rem solid var(--color-secondary);
	color: var(--color-secondary);
	outline: none;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.normal-button-dark:active {
	background-color: var(--color-secondary-dark);
	color: var(--color-tertiary);
}

/*Ghost Button*/

.ghost-button-light, .ghost-button-light:visited {
	background-color: transparent;
	border: 0.0625rem solid var(--color-secondary);
	border-radius: 0.625rem;
	box-shadow: inset 0 0 0 0 var(--color-secondary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	-webkit-transition: ease-out 0.5s;
	transition: ease-out 0.5s;
}

.ghost-button-light:hover, .ghost-button-light:focus {
	border: 0.0625rem solid var(--color-tertiary);
	box-shadow: inset 0 -6.25rem 0 0 var(--color-secondary);
	color: var(--color-tertiary);
	outline: none;
	text-decoration: none;
}

.ghost-button-light:active {
	background-color: var(--color-secondary-dark);
}

.ghost-button-dark, .ghost-button-dark:visited {
	background-color: transparent;
	border: 0.0625rem solid var(--color-secondary);
	border-radius: 0.625rem;
	box-shadow: inset 0 0 0 0 var(--color-secondary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	-webkit-transition: ease-out 0.5s;
	transition: ease-out 0.5s;
}

.ghost-button-dark:hover, .ghost-button-dark:focus {
	border: 0.0625rem solid var(--color-primary);
	box-shadow: inset 0 -6.25rem 0 0 var(--color-secondary);
	color: var(--color-primary);
	outline: none;
	text-decoration: none;
}

.ghost-button-dark:active {
	background-color: var(--color-secondary-dark);
}

/* ==========================================================================
   Accordian
   ========================================================================== */

details {
	border: 0.125rem solid var(--color-secondary);
	border-radius: 0.250rem;
	margin-bottom: 0.125rem;
}

/*Light Theme Accordians*/

.accordian-light {
	background-color: var(--color-tertiary);
	color: var(--color-primary);
}

.accordian-light summary {
     list-style-image: url(../images/arrow-closed-dark.png);
}

.accordian-light summary::-webkit-details-marker {
     background: url(../images/arrow-closed-dark.png);
     color: transparent;
}

.accordian-light summary:focus {
	list-style-image: url(../images/arrow-closed-light.png);
	outline: none;
}

.accordian-light summary:focus::-webkit-details-marker {
     background: url(../images/arrow-closed-light.png);
     color: transparent;
     outline: none;
}

.accordian-light[open] summary, .accordian-light summary:focus {
	background-color: var(--color-primary);
	border-bottom: 0.125rem solid var(--color-secondary);
	color: var(--color-tertiary);
	outline: none;
}

.accordian-light[open] summary {
	list-style-image: url(../images/arrow-open-light.png);
}

.accordian-light[open] summary::-webkit-details-marker {
	background: url(../images/arrow-open-light.png);
	color: transparent;
}

/*Dark Theme Accordians*/

.accordian-dark {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
}

.accordian-dark summary {
     list-style-image: url(../images/arrow-closed-light.png);
}

.accordian-dark summary::-webkit-details-marker {
     background: url(../images/arrow-closed-light.png);
     color: transparent;
}

.accordian-dark summary:focus {
	list-style-image: url(../images/arrow-closed-dark.png);
	outline: none;
}

.accordian-dark summary:focus::-webkit-details-marker {
     background: url(../images/arrow-closed-dark.png);
     color: transparent;
}

.accordian-dark[open] summary, .accordian-dark summary:focus {
	background-color: var(--color-tertiary);
	border-bottom: 0.125rem solid var(--color-secondary);
	color: var(--color-primary);
	outline: none;
}

.accordian-dark[open] summary {
	list-style-image: url(../images/arrow-open-dark.png);
}

.accordian-dark[open] summary::-webkit-details-marker {
	background: url(../images/arrow-open-dark.png);
	color: transparent;
}

/* ==========================================================================
   Examples
   ========================================================================== */

figure {
	border-left: 0.0625rem solid var(--color-secondary-dark);
	border-right: 0.0625rem solid var(--color-secondary-dark);
	padding: 0.625rem;
}

.featured-text {
	font-size: var(--large-font);
	font-style: italic;
}

.tertiary-text{
	font-size: var(--small-font);
}
.primary-font {
	font-family: var(--font-primary);
}

.secondary-font{
	font-family: var(--font-secondary);
}