/* ==========================================================================
   Color
   ========================================================================== */
html {
	/*Infra-Black*/
	--color-primary: #000;
	--color-primary-light: #2c2c2c;

	/*Laser-Red*/
	--color-secondary: #ff0111;
	--color-secondary-dark: #c20000;
	--color-secondary-light: #ff5a3f;

	/*Ultra-White*/
	--color-tertiary: #fff;
	--color-tertiary-dark: #ccc;

	/*Disabled Text*/
	--color-disabled-dark: #9b9b9b;
	--color-disabled-light: #555555;

}
/* ==========================================================================
   Typography
   ========================================================================== */
html {
	

    --font-primary: 'Open Sans', Arial, sans-serif;
    --font-secondary: 'Orbitron', Arial, sans-serif;

    /*Font Sizes*/
    --ratio: 1.250;

    /*larger than normal*/
	--xxxxxlarge-font: calc(var(--xxxxlarge-font) * var(--ratio));
    --xxxxlarge-font: calc(var(--xxxlarge-font) * var(--ratio));
    --xxxlarge-font: calc(var(--xxlarge-font) * var(--ratio));
    --xxlarge-font: calc(var(--xlarge-font) * var(--ratio));
    --xlarge-font: calc(var(--large-font) * var(--ratio));
    --large-font: calc(var(--medium-font) * var(--ratio));
    
	/*normal font size*/
    --medium-font: 1rem;
    
	/*smaller than normal*/
    --small-font: calc(var(--medium-font) / var(--ratio));
    --xsmall-font: calc(var(--small-font) / var(--ratio));
    --xxsmall-font: calc(var(--xsmall-font) / var(--ratio));
    --xxxsmall-font: calc(var(--xxsmall-font) / var(--ratio));
    --xxxxsmall-font: calc(var(--xxxsmall-font) / var(--ratio));
    --xxxxxsmall-font: calc(var(--xxxxsmall-font) / var(--ratio));

	--margin-standard: 2.75rem 0 1rem;

	color: var(--color-primary);
	font-family: var(--font-primary);
	font-size: var(--medium-font);
}

a {
	color: var(--color-secondary);
	text-decoration: none;
}

a:visited {
	color: var(--color-secondary-dark);
}

a:hover {
	color: var(--color-secondary-light);
	text-decoration: underline;
}

a:active {
	color: var(--color-tertiary);
	font-weight: bolder;
}

a:focus {
	background-color: var(--color-secondary);
	border: solid 0.0625rem var(--color-tertiary);
	border-radius: 0.625rem;
	color: var(--color-tertiary);
}

h1, h2, h3, h4, h5, h6,text, .logo {
	font-family: var(--font-secondary);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.15;
	margin: var(--margin-standard);
}

h1{
	font-size: var(--xxxxxlarge-font);
}

h2{
	font-size: var(--xxxxlarge-font);
}

h3{
	font-size: var(--xxxlarge-font);
}

h4{
	font-size: var(--xxlarge-font);
}

h5{
	font-size: var(--xlarge-font);
}

h6{
	font-size: var(--large-font);
}

nav li {
	display: inline;
}

p {
	line-height: 2rem;
}

ol, ul {
	list-style-position: inside;
	margin-bottom: 0.625rem;
}

ol{
	list-style-type: upper-roman;
}

ul {
	list-style-type: circle;
}

.logo {
	font-size: 6.25rem;
	font-weight: bold;
}

/* ==========================================================================
   Master Layout
   ========================================================================== */
main {
	margin:auto;
	max-width: 65rem;
}

/* ==========================================================================
   Header Component
   ========================================================================== */
header {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
	padding: 2rem;
}

header nav li {
	border: solid 0.0625rem var(--color-secondary);
	border-radius: 0.625rem;
}

header nav a {
	padding: 0 0.625rem;
}

header nav a:focus {
	background-color: var(--color-secondary);
	border: solid 0.0625rem var(--color-tertiary);
	border-radius: 62.5px;
	color: var(--color-tertiary);
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background-color: var(--color-primary-light);
	color: var(--color-tertiary);
	margin-top: 2rem;
	padding: 2rem;
}

footer nav ul {
	padding: 0;
}

footer nav a {
	padding: 0 0.625rem;
}

/* ==========================================================================
   Examples
   ========================================================================== */
blockquote {
	font-family: var(--font-secondary);
	font-size: var(--xlarge-font);
	font-style: italic;
	font-weight: bold;
}

blockquote p {
	line-height: 1.75;
}

cite {
	font-size: var(--large-font);
}

figure {
	border-left: 0.0625rem solid var(--color-secondary-dark);
	border-right: 0.0625rem solid var(--color-secondary-dark);
	padding: 0.625rem;
}

.featured-text {
	font-size: var(--large-font);
	font-style: italic;
}

.tertiary-text{
	font-size: var(--small-font);
}
.primary-font {
	font-family: var(--font-primary);
}

.secondary-font{
	font-family: var(--font-secondary);
}